:root {
  --grey: #806E4E;
  --yellow: #CCB07C;
  --blue: #FFE5B5;
  --green: #B39A6D;
}

html {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-color: var(--grey);
  transition: 1s;
}

button {
  outline: none;
  cursor: pointer;
}

button:first-letter {
  text-transform: capitalize;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.component-app {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  height: 90rem;
}

.sidebar.blur {
  filter: blur(0.5rem);
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31rem;
}

.visualiser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 105rem;
  height: 88rem;
}

.visualiser.blur {
  filter: blur(0.5rem);
}

.insertion {
  background-color: var(--yellow);
}

.bubble {
  background-color: var(--blue);
}

.selection {
  background-color: var(--green);
}
