:root {
  --bg: #999999;
  --insertion: #B3B3B3;
  --bubble: #CCCCCC;
  --selection: #E6E6E6;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 20%;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 62.5%
  }
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 3000px) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 4000px) {
  html {
    font-size: 160%;
  }
}

@media only screen and (min-width: 4600px) {
  html {
    font-size: 185%;
  }
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-color: var(--bg);
  transition: 1s;
}

button {
  outline: none;
  cursor: pointer;
}

button:first-letter {
  text-transform: capitalize;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.component-app {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  height: 90rem;
}

.sidebar.blur {
  filter: blur(0.5rem);
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31rem;
}

.visualiser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 105rem;
  height: 88rem;
}

.visualiser.blur {
  filter: blur(0.5rem);
}

.insertion {
  background-color: var(--insertion);
}

.bubble {
  background-color: var(--bubble);
}

.selection {
  background-color: var(--selection);
}
