html {
  background-color: #ffed05;
}

.component-app {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3vh;
  margin-bottom: 5vh;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23vw;
  height: 92vh;
  filter: blur(7px);
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37.5%;
}

.visualiser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 66vw;
  height: 90vh;
  filter: blur(7px);
}

.butt {
  position: absolute;
  top: 10vh;
  z-index: 10000;
  width: 1000px;
  height: 750px;
  border: 1px solid black;
  background-color: #ffed05;
  text-align: center;
}
