:root {
  --yellow: #FFED05;
}

.component-info-pop-up {
  position: absolute;
  top: 30rem;
  padding: 4rem 3rem;
  width: 70rem;
  background-color: var(--yellow);
  border: 0.1rem solid black;
  font-size: 2rem;
  z-index: 1;
}

.component-info-pop-up.hidden {
  display: none;
}

.component-info-pop-up.green {
  background-color: var(--green);
}

.component-info-pop-up.turquoise {
  background-color: var(--turquoise);
}

.component-info-pop-up.pink {
  background-color: var(--pink);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1em;
  background-color: transparent;
  border: none;
}

.close-button:hover {
  transform: scale(1.5);
}

.info-heading-top {
  font-size: 1.1rem;
}

.info-heading {
  margin-top: 2.6rem;
  font-size: 1.1rem;
}
