/* Declare this higher up */
a {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.component-info-pop-up {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  padding: 4% 3%;
  z-index: 10000;
  width: 45vw;
  background-color: #FFED05;
  border: 1px solid black;
  font-size: 1.5em;
}

.button-container {
  padding: 0;
  width: 60px;
}

.close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
}

.close-button:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: 0.5s;
}

.info-heading-top {
  font-size: 0.5em;
}

.info-heading {
  margin-top: 4%;
  font-size: 0.5em;
}
