.sort-button {
  width: 40rem;
  padding: 2rem;
  background-color: transparent;
  font-size: 2rem;
  border: 0.1rem solid black;
  text-align: center;
  transition: 0.1s;
}

.sort-button:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--bg);
}

.sort-button.insertion:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--insertion);
}

.sort-button.bubble:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--bubble);
}

.sort-button.selection:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--selection);
}
