:root {
  --yellow: #FFED05;
  --green: #44E78E;
  --turquoise: #3BF2F5;
  --pink: #FE8DC5;
}

.sort-button {
  width: 40rem;
  padding: 2rem;
  background-color: transparent;
  font-size: 2rem;
  border: 0.1rem solid black;
  text-align: center;
  transition: 0.1s;
}

.sort-button:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--yellow);
}

.sort-button.insertion:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--green);
}

.sort-button.bubble:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--turquoise);
}

.sort-button.selection:hover {
  background-color: black;
  transform: scale(1.05);
  color: var(--pink);
}
