:root {
  --darkYellow: #CEC000;
  --darkGreen: #3BC077;
  --darkTurquoise: #2FBABD;
  --darkPink: #CE73A0;
}

.component-speed-slider {
  display: flex;
  flex-direction: column;
  width: 40rem;
  font-size: 2rem;
}

.slider {
  direction: rtl;
  margin-top: 10%;
  margin-bottom: 5%;
  height: 1px;
  appearance: none;
  outline: none;
  background-color: black;
}

.slider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  appearance: none;
  background-color: var(--darkYellow);
  transition: 2s;
  border: 1px solid black;
  border-radius: 75px;
}

.slider::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.slider-green {
  direction: rtl;
  margin-top: 10%;
  margin-bottom: 5%;
  height: 1px;
  appearance: none;
  outline: none;
  background-color: black;
}

.slider-green::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  appearance: none;
  background-color: var(--darkGreen);
  transition: 2s;
  border: 1px solid black;
  border-radius: 75px;
}

.slider-green::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.slider-turquoise {
  direction: rtl;
  margin-top: 10%;
  margin-bottom: 5%;
  height: 1px;
  appearance: none;
  outline: none;
  background-color: black;
}

.slider-turquoise::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  appearance: none;
  background-color: var(--darkTurquoise);
  transition: 2s;
  border: 1px solid black;
  border-radius: 75px;
}

.slider-turquoise::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.slider-pink {
  direction: rtl;
  margin-top: 10%;
  margin-bottom: 5%;
  height: 1px;
  appearance: none;
  outline: none;
  background-color: black;
}

.slider-pink::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  appearance: none;
  background-color: var(--darkPink);
  transition: 2s;
  border: 1px solid black;
  border-radius: 75px;
}

.slider-pink::-webkit-slider-thumb:hover {
  cursor: pointer;
}
