.sorting-visualiser {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border-left: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.array-bar {
  display: inline-block;
  margin: 3px;
  margin-bottom: 0;
  min-width: 8px;
  border: 1px solid black;
  /* I'm hard coding this value, and then also hard-coding it again in the Sorting Visualiser component */
  /* I don't think I actually need this css below here, because I am actually hard coding it, haha */
  /* background-color: rgba(187, 174, 0, 0.8); */
}