.sort-button {
  width: 80%;
  text-align: center;
  border: 1.5px solid black;
  padding: 5%;
  font-size: 2em;
}

.sort-button:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.05);
  color: #ffed05;
  transition: 0.5s;
}