.sort-button {
  width: 100%;
  text-align: center;
  border: 1.5px solid black;
  padding: 5%;
  font-size: 2em;
  background-color: #ffed05;
  outline: none;
}

.sort-button:hover {
  background-color: black;
  cursor: pointer;
  transform: scale(1.05);
  color: #ffed05;
  transition: 0.5s;
}