.sort-type-button {
  position: relative;
  right: 3%;
  margin: 0 2% 2% 0;
  padding: 2% 6%;
  width: fit-content;
  border: 1.5px solid black;
  border-radius: 75px;
  text-align: center;
}

.sort-type-button:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.05);
  color: #ffed05;
  transition: 0.5s;
}