.component-sorting-visualiser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.sorting-visualiser-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.array-bar {
  padding: 0;
  display: inline-block;
  margin: 3px;
  color: rgba(255, 129, 115, 0.4);
  margin-bottom: 0;
  min-width: 8px;
  border: 1px solid black;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 98.5%;
}

.new-array-button {
  width: 40px;
}

.new-array-button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.info-button {
  margin-left: 1.5%;
  width: 40px;
}

.info-button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}