.component-speed-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  font-size: 2em;
}

.slider {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 2px;
  appearance: none;
  outline: none;
  background-color: black;
}

.slider::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  appearance: none;
  background-color: rgb(201, 187, 0);
  border: 1.5px solid black;
  border-radius: 75px;
}

.slider::-webkit-slider-thumb:hover {
  cursor: pointer;
}